* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  background-color: #f3f7fa;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
.header {
  text-align: center;
  font-size: 1.8rem;
}
